# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
node_modules/
package-lock.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary
tmp/
temp/
*.log

# Wasm / Rust
wasm-core/target/
js/pkg/
**/*.rs.bk
debug/
release/
